<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{title}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    
</head>
<body>
    <div class='main-content'>
        {{>header}}


        <form>
	    <table>
		    <tr>
			    <td>Email Address:</td>
			    <td><input type='mail'  placeholder='Email' name=''></td>
		    </tr>
            <tr>
                <td>Password:</td>
			    <td><input type='Password' placeholder='Password' name=''></td>
            </tr>
            <tr>
                <p style='font-size: 10px'>Not registered yet! <a href='/registration'>Resgister Now</a></p>
            </tr>
	    </table>
        </form>
        

    </div>

    {{>footer}}
</body>
</html>